/* ---------- RESET ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 { /* tipografia logo */ 
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #D6D6D6; 
    font-family: 'Anybody';
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* --------------- HTML PRINCIPAL --------------- */

.container-encabezado {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6D6D6;
}

.barraNav nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right: 30px;
    margin: 0;
}

.barraNav nav ul li {
    margin: 15px;
    display: flex;
    align-items: center; /* Align items vertically in the middle */
}

.barraNav nav ul li a {
    text-decoration: none;
    color: #000; 
}


.log-in-icon {
    width: 40px; 
    height: auto;

}

#grid-main {
    margin: 0.9375rem;
    padding: 1.6875rem;
    display: grid;
    width: 100%; /* Asegura que el ancho sea 100% del contenedor */
    height: 1200px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
    align-self: flex-end;
}

.grid-item1 h2 {
    margin: 0;
    padding: 0;
    font-size: 45px;
}

.grid-item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.grid-item3 .img1 {
    height: 450px;
    width: auto;
    object-fit: contain;
}

.grid-item3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;    
}

.grid-item4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;  
    align-content: center;
}

.grid-item4 p {
    font-size: 1.5625rem;
    text-align: start;
}

.grid-item5 .img2 {
    height: 31.25rem;
    width: auto;
    object-fit: contain;
}

.grid-item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    align-content: end;
}

.grid-item6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
}

.grid-item6 p {
    font-size: 1.5625rem;
    text-align: start;
}

.grid-background {
    grid-column-start: 2;
    grid-column-end: 7; /* La columna 6 se incluye como el final */
    grid-row-start: 2;
    grid-row-end: 3; /* La fila 4 se incluye como el final */
    background-color: #8F8F8F; /* Color de fondo */
    z-index: -1; /* Asegúrate de que esté detrás de otros elementos */
    margin-top: 100px; /* Ajusta el margen para agregar espacio alrededor del fondo */
    margin-bottom: 100px;
    margin-left: 0; /* Ajusta el margen a 0 para evitar el desbordamiento */
    margin-right: 0; /* Ajusta el margen a 0 para evitar el desbordamiento */
}

.grid-background1 {
    grid-column-start: 1;
    grid-column-end: 6; /* La columna 6 se incluye como el final */
    grid-row-start: 3;
    grid-row-end: 6; /* La fila 4 se incluye como el final */
    background-color: #8F8F8F; /* Color de fondo */
    z-index: -1; /* Asegúrate de que esté detrás de otros elementos */
    margin-top: 150px; /* Ajusta el margen para agregar espacio alrededor del fondo */
    margin-bottom: 150px;
    margin-left: 0; /* Ajusta el margen a 0 para evitar el desbordamiento */
    margin-right: 0; /* Ajusta el margen a 0 para evitar el desbordamiento */
}















/* --------------- PAGINA EXPLORE -------------- */
.grid-explore {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.parte-uno{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.parte-uno .fondo{
    width: 100%;
    height: 800px;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.grid-explore {
    display: grid;
    position: relative; /* Para posicionar elementos dentro relativamente */
}

.parte-uno {
    position: relative;
    width: 100%;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.parte-uno .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Coloca el fondo detrás */
}

.overlay {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Asegura que el overlay ocupe toda la altura del contenedor */
    position: relative;
    z-index: 2; /* Coloca los elementos encima del fondo */
}

.item {
    position: relative;
    margin: 0 20px; /* Espacio entre los elementos */
    text-align: center; /* Centra el texto dentro del item */
}

.item img {
    display: block;
    max-width: 34.375rem;
    height: auto;
    opacity: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
}

.parte-dos{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    align-content: space-evenly;

}

.parte-dos img{
    margin: 10px;
    object-fit: cover;
}



@media (max-width: 768px) {
    .grid-explore {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .text {
        font-size: 16px; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }
}







/* --------------- PAGINA ABOUT US -------------- */


.grid-aboutUS{
    max-width: 100%;
    height: 1500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.costado-1{
    padding-top: 50px;
    padding-left: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.costado-2{
    padding-top: 50px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.costado-2 h2{
    font-size: 32px;
}

.costado-2 p{
    margin-top: 20px;
    font-size: 27px;
    justify-content: space-around;
}
.imgPoster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.costado-3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-right: 25%;
    align-self: center;
    justify-self: center; 
}

.imgPoster2 {
    width: 600px;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
    justify-self: center; 
}














/* ----------------- PAGINA LOG IN ------------- */
.alternativeLog {
    text-align: center;
}
.grid-login{
    display: grid;
}
.alternativeLog img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    margin: 0 10px; /* Añade margen entre las imágenes */
    border: .0625rem black;
}

.registeredLog {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* ------------------- PAGINA SHOP ----------------- */
.container-productos {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    padding: 4rem; 
}

.container-car {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-car h3 {
    font-weight: bold;
}

.container-car p {
    text-align: center;
    margin-top: 10px;
}

.container-car img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
}

/* ---------- FOOTER HTML ---------- */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;

}

.infoContacto {
    display: flex; /* Usa flexbox para el contenedor */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

.infoContacto > div {
    text-align: center; /* Centra el contenido dentro de cada div */
    flex: 1; /* Hace que cada div ocupe el mismo espacio */
    margin: 0 10px; /* Añade un margen entre los elementos */
}

.infoContacto img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 40px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.container-copyright {
    margin-top: 20px;
    width: 100%; /* Asegura que el ancho sea 100% del contenedor */
    padding: 10px;
    text-align: center;
    background-color: #464646;
    color: white;
}